@model ExamenParcial.ViewModel.ConversionesViewModel
<link
      rel="stylesheet"
      href="https://cdn.datatables.net/2.1.6/css/dataTables.dataTables.min.css"
    />

<h1>Lista de Conversiones</h1>
<table class="table table-striped" id="convertTable">
    <thead>
        <tr>
            <th>Moneda Origen</th>
            <th>Moneda Destino</th>
            <th>Tasa de Cambio</th>
            <th>Fecha</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.ListarRemesas != null && Model.ListarRemesas.Any())
        {
            @foreach (var conversion in Model.ListarRemesas)
            {
                <tr>
                    <td>@conversion.MonedaOrigen</td>
                    <td>@conversion.MonedaDestino</td>
                    <td>@conversion.TasaCambio</td>
                    <td>@conversion.Fecha.ToShortDateString()</td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="4">No hay conversiones disponibles.</td>
            </tr>
        }
    </tbody>
</table>
@section scripts{
<!-- DataTables -->
<script src="https://cdn.datatables.net/2.1.5/js/dataTables.min.js"></script>
<script>
    $(document).ready(function() {
        $('#convertTable').DataTable({
            responsive: true,
            autoWidth: false,
            argumentsdom: 'Bfrtip', 
            buttons: []
        });
    });
</script>

}